.features {
  padding: 140px 0 110px;
  border-bottom: 1px solid #000;

  &__container {
    display: flex;
  }

  &__tabs {
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 100px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: #333333;
    color: #fff;
    margin-bottom: 1px;

    &_active {
      background-color: $orange;
    }
  }

  &__item {
    display: none;
    width: 440px;

    &_visible {
      display: block;
    }
  }
}
