.footer {
  background-color: #000000;
  padding-top: 40px;

  &__menu-item {
    text-align: center;
  }
  &__menu-link {
    text-decoration: none;
    margin-right: 30px;
    color: #cccccc;
    font-size: 25px;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.copiright {
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
  font-family: $mainFont;
  color: rgba(255, 255, 255, 0.502);
}
