.orange {
  color: $orange;
}
.bg-orange {
  background-color: $orange;
}
.bc-orange {
  border-color: $orange;
}
.container {
  max-width: 1132px;
  width: 100%;
  margin: auto;
  padding: 0 16px;
  box-sizing: border-box;
}
.header {
  background-color: #000000;
  padding: 20px 0;
}
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu__item {
  margin-right: 50px;
  color: #c9c9c9;
  text-decoration: none;
  text-align: center;
}
.header-menu__item:hover {
  color: #ff9b51;
}
.header-menu__item:last-child {
  margin-right: 0;
}

@media (max-width: 1140px) {
  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #000;
    padding-top: 100px;
    transform: translateX(-100%);
    transition: transform 0.4s;
  }
  .header-menu.active {
    transform: initial;
  }
  .header-menu__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  div > .header__toggle-menu-button {
    display: block;
  }
  .toggle-menu-button,
  .toggle-menu-button:before,
  .toggle-menu-button:after {
    width: 27px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-menu-button {
    position: relative;
  }
  .toggle-menu-button:before,
  .toggle-menu-button:after {
    content: "";
    position: absolute;
    transition: all 0.3s;
  }
  .toggle-menu-button:before {
    top: 8px;
  }
  .toggle-menu-button:after {
    bottom: 8px;
  }
  .toggle-menu-button.active {
    border-color: transparent;
  }
  .toggle-menu-button.active:before {
    transform: rotate(45deg);
    top: -1px;
  }
  .toggle-menu-button.active:after {
    transform: rotate(-45deg);
    bottom: -1px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 15px 0;
  }
}
