.social {
  &__hat {
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.56);
    position: relative;
  }
  &__media {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__media-text {
    font-family: "Open Sans";
    text-align: left;
    width: 365px;
  }
  &__media-text-titel {
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__media-text-subtitel {
    font-size: 14px;
    color: rgb(134, 135, 139);
    line-height: 1.429;
  }
  &__icons {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon-link {
    text-decoration: none;
    color: #cccccc;
    font-size: 45px;
  }
  &__icon-link:hover {
    color: #000000;
  }
}
@media (max-width: 960px) {
  .container.social__media {
    flex-direction: column;
    align-items: center;
  }
  .social {
    &__media-text {
      margin-bottom: 20px;
      width: auto;
    }
    &__media-text-titel {
      text-align: center;
    }
    &__media-text-subtitel {
      text-align: center;
    }
    &__icons {
      width: 100%;
    }
  }
}
