.top {
  background-image: url(../../image/backgrund.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 130px;
  }
}
.top {
  &__left-block {
    width: 520px;
  }
  &__logo {
    height: 58px;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 36px;
    font-family: $mainFont;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__title:after {
    content: "";
    display: block;
    width: 64px;
    border: 1px solid #fff;
    margin-top: 40px;
  }
  &__subtitle {
    font-size: 16px;
    font-family: $mainFont;
    color: #fff;
    line-height: 1.438;
    margin-bottom: 45px;
  }
  &__button {
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    font-size: 15px;
    font-family: $mainFont;
    line-height: 1.2;
    background-color: transparent;
    padding: 13px 30px;
    text-decoration: none;
  }
  &__button:hover {
    color: rgb(0, 0, 0);
    background-color: #fff;
    background-color: rgb(255, 255, 255);
  }
  &__form-wrap {
    max-width: 360px;
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
  }
  &__form-title {
    font-size: 20px;
    font-family: $mainFont;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 18px 0;
    background-color: #f5f5f5;
  }
  &__form-title_upper {
    text-transform: uppercase;
  }
  &__form-input_wrap {
    padding: 30px 38px 0;
    margin-bottom: 13px;
  }
  &__form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-bottom: 35px;
  }
  &__form-button {
    width: 100%;
    text-align: center;
    padding: 18px 0;
    border: none;
    color: #fff;
    font-size: 15px;
    font-family: $mainFont;
    line-height: 1.2;
    cursor: pointer;
  }
  &__form-button:hover {
    opacity: 0.8;
  }
}

@media (max-width: 960px) {
  .container__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top {
    &__title:after {
      margin: 40px auto 0;
    }
    .top__left-block {
      margin-bottom: 30px;
      width: auto;
    }
  }
}
